/*Cambio de medidas de 1rem = 10px*/
html {

    font-size: 62.5%;
    background: #F3F5FC;

}

/*Cambios generales al contenido de la pagina*/
main {

    display: grid;
    margin: 2rem 2rem;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    grid-gap: 1rem ;
    grid-template-areas: 
        "header"
        "section"
        "aside"
        "footer";
    grid-template-rows: 20% 40% 40% 10%;

}

/*Asignación de display*/
main > * {

    display: flex;
    border: solid 1px black;
    font-size: 3rem;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

header h2 {

    box-shadow: none;
    font-weight: bold;

}

section {

    grid-area: section;

}

aside {

    grid-area: aside;

}


footer {

    grid-area: footer;

}

/*Header*/
header {

    grid-area: header;
    grid-gap: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2rem;
    color: #0A3871;
    border: none;

}

header h1 img {

    margin-bottom: 1rem;
    box-shadow: -4px 46px 18px -19px rgba(10,56,113,0.79);

}

/*Main section-left*/

/*space-write*/
.container-sect-left  {


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 12px 21px 10px -6px rgba(20,101,187,0.65);
    border: none;

}

.write-space {

    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.write-space input{

    font-size: 2.5rem;
    height: 5rem;
    border: none;
    color: #1465bb;
    background-color: #F3F5FC;

}

/*input-button*/

.warning {

    display: flex;
    font-size: 1.5rem;
    color: #808080;

}

.buttons {

    display: flex;
    flex-direction: row;
    align-items: center;

}


.buttons input {

    padding: 1rem 1rem;
    margin-left: 1rem;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    background: #1465bb;
    color: #ffffff;
    

}

/*Main section-Right*/

.container-sect-right {

    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-color: #ffffff;
    box-shadow: 12px 21px 10px -6px rgba(20,101,187,0.65);
    border: none;

}

.div-right {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.div-right img {

    width: 70%;
    height: 16rem;

}

.div-right h3 {

    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;

}

.div-right p {

    font-size: 1rem;
    margin-left: 1.5rem;

}

.hidden-section {

    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center

}

.hidden-section input {

    padding: 1rem 1rem;
    margin-bottom: 7rem ;
    margin-left: 1rem;
    font-size: 2.0rem;
    border-radius: 1.5rem;
    border-color: #1465bb;
    cursor: pointer;
    background: #ffffff;
    color: #1465bb;

}

.hidden-section textarea {

    margin-top: 8rem;
    font-size: 2rem;
    color: #1465bb;
    border: none;

}

/*Footer*/
footer {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    border: none;
    color: #ffffff;
    font-family: 'Moon Dance', cursive;
    font-size: 2rem;
    background-image: url(../assets/background-footer.jpg);

}

.icons {

    margin-left: 1rem;

}

.icons a {

    color: #ffffff;

}


/*Pseudo-elementos*/
/*section-left*/

::placeholder {

    color: #609ddf;

}


/*Eventos*/

.buttons input:hover {

    transform: scale(1.2);
    background-color: #ffffff;
    color: #1465bb;
    border: #1465bb solid 0.2rem;
    margin-right: 5rem;

}

/*Media Queries para tablet*/

@media (min-width: 750px) {

    main {

        grid-template-areas: 
        "header header"
        "section aside"
        "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 80% 10%;      

    }

    /*Header*/
    header {

        flex-direction: row;
        justify-content: flex-start;

    }

    header h2 {

        margin-bottom: 1rem;
        box-shadow: -4px 46px 18px -19px rgba(10,56,113,0.79);    
    
    }

    .warning {

        margin-top: 45rem;
        
    
    }

    /*Section-Right*/
    .div-right img {

        width: 90%;
        height: 50%;
    
    }

    .div-right h3 {

        margin: 2rem 0;
    
    }
    
}

@media (min-width:940px) {

    main {

        grid-template-areas: 
        "header header header"
        "section section aside"
        "footer footer footer";
        
        grid-template-columns: 20% 50% 30%;
        grid-template-rows: 10% 80% 10%;

    }

    header {

        justify-content: flex-start;

    }

    logo {

        margin-right: 10rem;
    
    }

    header h2 {

        margin-bottom: 1rem;
        box-shadow: -4px 46px 18px -19px rgba(10,56,113,0.79);    
    
    }
    /*Section-Left*/

    .write-space input {

        height: 8rem;

    }

    .warning {

        margin-top: 30rem;
        
    
    }

    ::placeholder {

        color: #609ddf;
        font-size: 3rem;
    
    }

    /*Section-Right*/
    .div-right img {

        width: 100%;
        height: 50%;
    
    }

    .div-right h3 {

        margin: 2rem 0;
    
    }
    
}