/*Cambio de medidas de 1rem = 10px*/
html {

    font-size: 62.5%;

}

/*Cambios generales al contenido de la pagina*/
main {

    display: grid;
    margin: 2rem 2rem;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    grid-gap: 1rem ;
    grid-template-areas: 
        "header"
        "section"
        "aside"
        "footer";

}

main > * {

    display: flex;
    border: solid 1px black;
    font-size: 3rem;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

/*division de contenedores*/
header {

    grid-area: header;

}

section {

    grid-area: section;

}

aside {

    grid-area: aside;

}


footer {

    grid-area: footer;

}

/*header*/




/*Main section-left*/

/*space-write*/
.container-sect-left  {


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 12px 21px 10px -6px rgba(20,101,187,0.65);
    border: none;

}

.write-space {

    padding: 4rem 2rem;
    

}

.write-space input{

    font-size: 2.5rem;
    height: 5rem;
    border: none;
    color: #1465bb;

}

/*input-button*/

.buttons p {

    font-size: 1.5rem;
    color: #1465bb;
    margin-bottom: 1rem;

}

.buttons input {

    height: 5rem;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    background: #1465bb;
    color: #ffffff;
    

}


/*Pseudo-elementos*/
/*section-left*/

::placeholder {

    color: #609ddf;

}


/*Eventos*/

.buttons input:hover {

    transform: scale(1.2);
    background-color: #ffffff;
    color: #1465bb;
    border: #1465bb solid 0.2rem;
    margin-right: 5rem;

}

/*Media Queries para tablet*/

@media (min-width: 750px) {

    main {

        grid-template-areas: 
        "header header"
        "section aside"
        "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 80% 10%;      

    }
    
}

@media (min-width:940px) {

    main {

        grid-template-areas: 
        "header header header"
        "section section aside"
        "footer footer footer";
        
        grid-template-columns: 20% 50% 30%;
        grid-template-rows: 10% 80% 10%;

    }
    
}